* {
  /* outline: 1px solid red; */
  padding: 0;
  margin: 0;
}

body {
  /* background: #e0e0e0; */
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  padding: 15px 0;
}

h1 {
  color: #333;
  font-family: "Pacifico", cursive !important;
  font-size: 28px;
  line-height: 42px;
  margin: 0 0 15px;
  text-align: center;
}

.strike {
  text-decoration: line-through;
}

td {
  border: 1px solid white;
  /* padding: 9.5px; */
}

.todoTable-block{

}
/* #todoTable { */
#todoTable-block {
  width: 100%;
  /* margin-top: 1rem; */
}
.pagination-pages{
  text-align: right;
}
.pagination-pages > *{
  margin-right: .5rem;
  cursor: pointer;
}
/* 編輯 刪除 */
.material-icons{
  cursor: pointer;
}

::-ms-input-placeholder{
  /* color: #b8b736 ; */
}

::-webkit-input-placeholder{
  /* color: #b8b736 ; */
}

::placeholder{
  /* color: #b8b736 ; */
}

/* input:-ms-input-placeholder,
input:-webkit-input-placeholder,
input:placeholder, */
input {
  color: rgb(85, 190, 190);
}

h3 {
  /* background-color: #9ea923; */
  color: rgb(88, 217, 217);
  /* padding: 1rem; */
}

/* 對於邊框設定 走向 */
.todo-input {
  display: grid;
  /* grid-template-columns: 1fr 1fr; 
  row-gap: 1rem; */
}

.todo-block {
  border: 5px solid #F7D488;
  padding: 1rem;
  border-radius: 20px;
  color: #F9A03F;
}

.pl {
  padding-left: 0;
}

.todo-overlay{
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .9;
  display: flex;
  justify-self: flex;
  justify-content: center;
  align-items: center;
 
  transform: translateX(-100vw);
  transition: transform 250ms;

  z-index: 2;/*日歷文字會浮上y來*/
}

.todo-modal{
  min-width: 40vw; /* 像是欄位會爆版，需要min-來設定重製定義。 */
  height: 85vh;
  background-color: #ffd6cc;
  opacity: .9;
}

.todo-modal-close-btn{
  background-color: rgb(138, 138, 151);
  position: absolute;
  color: rgb(50, 48, 62);
  font-size: 16px;
  font-weight:bold;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.slidedIntoView{
  transform: translateX(0);
  transition: transform 650ms;
}

#todoTable tr:nth-child(even) {
  background-color: #fcf4e1;
}

button:active{
  background-color: #ffd6cc;
  color: #a11e12;
  border: 1px inset #f0bbf0;
}

button:hover{
  background-color: #ffebe6 !important;
}

.chevron{
  /* margin-top: 5rem; */
  transform: translateY(.4rem);
}

.itemsPerPage{
  /* text-emphasis: none; */
  text-align: right;
  margin-bottom: .5rem;
}

button#changeBtn, button#addBtn, button#sortBtn{
  background-color: #ffd6cc;
  border: 1px solid #fff;
}

.fc-prev-button.fc-button.fc-button-primary, 
.fc-next-button.fc-button.fc-button-primary,
.fc-today-button.fc-button.fc-button-primary,
.fc-dayGridMonth-button.fc-button.fc-button-primary,
.fc-timeGridWeek-button.fc-button.fc-button-primary,
.fc-timeGridDay-button.fc-button.fc-button-primary{
  background-color: #ffd6cc !important;
  border: 1px solid #fff;
}
button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active,
button.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active,
button.fc-timeGridDay-button.fc-button.fc-button-primary.fc-button-active{
  border: 1px solid #fff;
}

/* Date / Time */
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700"); */
/* @import url("https://fonts.googleapis.com/css?family=Pacifico"); */
/* .input-group-addon {
  cursor: pointer;
}

.input-group.date {
  text-transform: uppercase;
}

.form-control {
  border: 1px solid #ccc;
  box-shadow: none;
}
.form-control:hover, .form-control:focus, .form-control:active {
  box-shadow: none;
}
.form-control:focus {
  border: 1px solid #34495e;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  border: 1px solid #34495e;
  border-radius: 0;
  box-shadow: none;
  margin: 10px 0 0 0;
  padding: 0;
  min-width: 300px;
  max-width: 100%;
  width: auto;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before, .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  display: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td,
.bootstrap-datetimepicker-widget.dropdown-menu table th {
  border-radius: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.old, .bootstrap-datetimepicker-widget.dropdown-menu table td.new {
  color: #bbb;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.today:before {
  border-bottom-color: #0095ff;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.active,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active {
  background-color: #0095ff;
  text-shadow: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.active.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active.today:before {
  border-bottom-color: #fff;
}
.bootstrap-datetimepicker-widget.dropdown-menu table th {
  height: 40px;
  padding: 0;
  width: 40px;
}
.bootstrap-datetimepicker-widget.dropdown-menu table th.picker-switch {
  width: auto;
}
.bootstrap-datetimepicker-widget.dropdown-menu table tr:first-of-type th {
  border-bottom: 1px solid #34495e;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.day {
  height: 32px;
  line-height: 32px;
  padding: 0;
  width: auto;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td span {
  border-radius: 0;
  height: 77px;
  line-height: 77px;
  margin: 0;
  width: 25%;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-months tbody tr td,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-years tbody tr td,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td {
  padding: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td {
  height: 27px;
  line-height: 27px;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td span {
  display: block;
  float: left;
  width: 50%;
  height: 46px;
  line-height: 46px !important;
  padding: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td span:not(.decade) {
  display: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td {
  padding: 0;
  width: 30%;
  height: 20px;
  line-height: 20px;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td:nth-child(2) {
  width: 10%;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td a,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
  border: none;
  border-radius: 0;
  height: 56px;
  line-height: 56px;
  padding: 0;
  width: 100%;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span {
  color: #333;
  margin-top: -1px;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button:hover {
  background-color: #eee;
}

.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td {
  border-top: 1px solid #34495e;
}
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td a, .bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td span {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0;
  width: 100%;
}

.todayText:before {
  content: "Today's Date";
} */
/* Date / Time */



/* CSS｜Media Query : https://hackmd.io/@A-Min-Design/rkZw8iSLt */
@media (max-width: 319.99px) { 

 }

@media screen and (min-width: 320px) and (max-width: 767.99px) {

}

@media screen and (min-width: 768px) and (max-width: 991.99px) {

}

@media (min-width: 992px) and (max-width: 1199.99px) { 

 }

@media (min-width: 1200px) { 
  
 }