  /* input:checked + span {
    text-decoration: line-through 7px;
  }
 */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
  /* outline: 1px solid red; */
}
/* 先試試看不行再刪除 */
.todo-calendar{
  width: 300px;
  height: 500px;
  position: relative;
}

/* 先試試看不行再刪除 */
body{
  font-family: 'Noto Sans TC', sans-serif;

}

.strike {
  text-decoration: line-through;
}

td{
  border: 1px solid black;
  padding: 5px;
}

#calendar{
  width: 60vw;
}

#todoTable{
  width: 100%;
  margin-top: 1rem;
}

input:-ms-input-placeholder, input:-webkit-input-placeholder, input:placeholder, input{
  color: rgb(174, 106, 238);
}

h3{
  background-color: #9ea923;
  color: azure;
  padding: 1rem;

}

/* 對於邊框設定 走向 */
.todo-input{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  row-gap: 1rem;
}

.todo-block{
  border: 5px solid #F7D488;
  padding: 1rem;
  border-radius: 20px;
  color: #F9A03F;
}

@media screen and (max-width: 767px) {
  /* for mobile or small screen device */
  /* #calendar{
    width: 450px !important;
  } */
  #todoTable, .todo-calendar{
    margin: 1rem;
  }

}

@media screen and (min-width: 768px) {
  /* for tablets or desktops */
  .todo-grid-parent{
    display: grid;
    grid-template-columns: 2fr 3fr ;
    column-gap: 1rem;
  }
  #calendar{
    position: sticky;
    top: 0;
  }
}