<!--
To-do List #6 Auto-update Options - Learning vanilla JavaScript via mini-projects
待辦事項清單 #6 自動更新選項 - 透過迷你專案學習普通 JavaScript

●Auto-update Options / 自動更新選項
- Array push() / 數組推送()
- Array includes() / 陣列包含()
- new Set() / 新的集合(): 函數建立一個無序不重複元素集
- for of loop / for 迴圈
- const / 常量
-->
<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
        rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <p>
      Link to video tutorial: <a href="https://youtu.be/bHqLCbJiUww">link</a>
    </p>
    <input type="text" placeholder="Enter new to-do" />
    <p>
      <input type="text" placeholder="Enter category" list="categoryList" />
    </p>

    <datalist id="categoryList">
      <option value="Personal"></option>
      <option value="Work"></option>
    </datalist>
    <button id="addBtn">Add</button>
    <ul></ul>

    <table id="todoTable">
      <tr>
        <td>checkbox</td>
        <td>to-do</td>
        <td>
          <select id="categoryFilter"></select>
        </td>
        <td>刪除</td>
        <!-- <span class="material-symbols-outlined">delete</span> -->
      </tr>
    </table>

    <p><a href="{% url 'dash:Dashboard' %}">返回首頁</a></p>

    <!-- Javascript -->
    <script src="{% static 'js/todo6.js' %}"></script>
  </body>
</html>
