<!--
CSS To-do List #15 User Interface - Learning Responsive Web Design via Mini-Projects
CSS 待辦事項清單 #15 使用者介面 - 透過迷你專案學習響應式網頁設計
CSS To-do List (Part 15) User Interface / CSS 待辦事項清單（第 15 部分）使用者介面

Learning Objectives / 學習目標

- Grid System / 網格系統

- Media query / 媒體查詢
- - Media Queries for Standard Devices - CSS Tricks / - - 標準設備的媒體查詢 - CSS 技巧
- - https://css-tricks.com/snippets/css/m...

- Sticky Positioning / - 黏性定位

- Color Palette / - 調色板
- - Coolors - The super fast color schemes generator!  /  - - Coolors - 超快的配色方案產生器！
- - https://coolors.co/
- - 
- - HTML Color Picker - W3Schools / HTML 顏色選擇器 - W3Schools
- - https://www.w3schools.com/colors/colors_picker.asp

- Google Fonts
- - https://fonts.google.com/


Remarks: Sorry about formatting the placeholder and input textbox, if anyone wants to know to how format them, please let me know in the comment.
備註：很抱歉格式化佔位符和輸入文字框，如果有人想知道如何格式化它們，請在評論中告訴我。
-->

<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Document
        </title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
        rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <style>
        table,
        th,
        td {
            border: 1px solid rgb(64, 194, 107);
            padding: 5px;
        }
        .strike {
            text-decoration: line-through 4px;
        }
    </style>

    <body>
        <p>Link to video tutorial:<a href="https://youtu.be/bHqLCbJiUww">link</a></p>
        <input type="text" placeholder="Enter new to-do">
        <p><input type="text" placeholder="Enter category" list="categoryList"></p>
        <datalist id="categoryList">
            <option value="Personal">123456789</option>
            <option value="Work"></option>
        </datalist>

        <p><input type="date" id="dateInput"></p>
        <p><input type="time" id="timeInput"></p>
        <button id="addBtn">Add</button>
        <p><button id="sortBtn">Sort</button></p>
        <ul></ul>
        <table id="todoTable">
            <tr>
                <td>checkbox</td>
                <td>日期</td>
                <td>時間</td>
                <td>to-do</td>
                <td>
                    <select id="categoryFilter"></select>
                </td>
                <td>刪除</td>
                <!-- <span class="material-symbols-outlined">delete</span> -->
            </tr>
        </table>
        <p>
            <a href="{% url 'dash:Dashboard' %}">返回首頁</a>
        </p>
        <!-- Javascript -->
        <script src="{% static 'js/todo15.js' %}"></script>
    </body>

</html>